<!DOCTYPE html>
<html>
<head>
    <title>Resultado da Calculadora</title>
</head>
<body>
    <h1>Resultado: <%= resultado %></h1>
    <p>Operação: <%= operacao %></p>
    <a href="/">Voltar</a>
</body>
</html>
